html
    head
        title Pug Template
    body
        main
            h1 Hi there!
            p This is a simple Pug template
            ul
                li Item 1
                li Item 2
                li Item 3